@use '../abstracts/' as *;

.badge {
    display: inline-flex;
    align-items: center;
    padding: $size-2;
    border-radius: $badge-border-radius;
    line-height: 1;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    white-space: nowrap;
    width: $badge-width;

    svg, img { width: 1em; height: 1em; }

    &[data-type="product-page"] {
        background: $color-accent-700;
        color: $color-neutral-100;
    }
}