@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="narrow"] {
  --max-width: #{$container-max-width-narrow};
}
.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
  @include mq(extraLarge) {
    --max-width: clamp(1280px, 86vw, 1600px);
  }
}
.container[data-type="full-bleed"] {
  --max-width: 100%;
}
