@use "../abstracts/" as *;

.u-media {
    @include media-frame;

    &__img { @include media-img; }

    &--fill {
        position: absolute;
        inset: 0;
    }

    &--icon {
        width: 40px;
        height: 40px;
        padding: $size-1;
        flex: 0 0 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
    }

    &--banner { height: 337px; }
    &--square { aspect-ratio: 1; }
    &--landscape { aspect-ratio: 16 / 9; }
    &--portrait { aspect-ratio: 3 / 4; }
}