@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none; }

/* home-page > boton "guardar" */
.button-wrapper { display: none; }

.fi-header {
  position: sticky;
  top: 0;
  z-index: 50;
  padding-top: .85rem;
}
