@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper button[type="submit"] {
    width: 377px;
}