@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none; }

/* home-page > boton "guardar" */
.button-wrapper { display: none; }

.fi-header {
  /* boton homepage editor guardar*/
}
