@use "../abstracts/" as *;

.above-fold {
  position: relative;
  
  &.is-searching {
    /* HERO OVERLAY ACTIVO */
    .hero-slider {
      pointer-events: none;
      
      &__background {
        .image {
          filter: blur(6px);
        }

        &::before {
          opacity: 1;
          pointer-events: none;
        }
      }
    }

    /* SEARCH ACTIVO */
    .hero-search__desktop {
      .desktop-results {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  /* BUSQUEDA POR MODAL: DESACTIVA EFECTO */
  &.is-searching.is-search-modal-open {
    .hero-slider {

      &__background {
        .image {
          filter: none;
        }

        &::before {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
      }
    }
  }

}