@use "../abstracts/" as *;

.above-fold {
  position: relative;
  
  &.is-searching {
    /* HERO OVERLAY ACTIVO */
    .hero-slider {
      pointer-events: none;
      
      &__background {
        .image {
          filter: blur(6px);
        }

        &::before {
          opacity: 1;
          pointer-events: none;
        }
      }
    }

    /* SEARCH ACTIVO */
    .hero-search {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}