@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  transition: 275ms ease;

  /* estados */
  &:focus {
    outline: $button-border-focus;
    transition: none;
  }

  &:disabled,
  &[aria-disabled="true"] {
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="newsletter"] {
    border-radius: 0;
    padding: $size-3;
    text-transform: none;
  }

  &[data-type="mas"] {
    border: 2px solid $color-neutral-900;
    margin-block: auto;
    width: 100%;
    font-size: $font-size-700;
    line-height: 1.4;
    color: $color-neutral-900;
    text-align: center;

    @include mq(large) {
        width: fit-content;
        margin-inline: auto;
    }
  }

  &[data-type="cart"] {
    background: $color-neutral-900;
    font-size: $font-size-500;
    color: $color-neutral-100;
    text-transform: none;
  }

  &[data-type="mobile-full"] {
    width: 100%;
    border: 2px solid $color-primary-900;
    background: $color-neutral-100;
    font-family: $font-family-semibold;
  }

  &[data-type="ghost"] {
    background: transparent;
  }

  &[data-type="buy-now"] {
    text-transform: none;
  }

  &[data-type="coupon"] {
    background: $color-primary-600;
    color: $color-primary-100;
  }

  &[data-type="tab"] {
    text-transform: none;
    background: transparent;
    border-radius: $border-radius-1;
    padding: $size-2;
    border: 1px solid $color-secondary-900;
  }
}
