@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  transition: 275ms ease;
  border-radius: $button-border-radius;

  /* estados */
  &:focus {
    outline: $button-border-focus;
    transition: none;
  }

  &:disabled,
  &[aria-disabled="true"] {
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &[data-type="primary"] {
    color: $color-neutral-100;
    background: $color-neutral-900;

    &:hover {
      background: $color-neutral-800;
    }

    &:focus {
      outline-color: $color-accent-500;
    }
  }

  &[data-type="secondary"] {
    background: $color-neutral-000;
    color: $color-neutral-900;

    &:hover {
      background: $color-neutral-200;
    }
  }

  &[data-type="outline"] {
    color: $color-neutral-900;
    border: 2px solid $color-neutral-900;

    &:hover {
      background: $color-neutral-200;
      border: 2px solid transparent;
    }
  }

  &[data-type="ghost"] {
    text-decoration: underline;
    background: transparent;
    padding: $size-2;
  }
  
  &[data-type="hero-dot"] {
    width: 89px;
    height: 13px;
    padding: 0;

    &:focus { outline-offset: 2px; }
  }

  &[data-type="cta"] {
    background: $color-accent-500;
    color: $color-neutral-900;
    outline: 2px solid transparent;
    outline-offset: 0;
    transition:all 250ms ease;

    &:hover {
      outline: 2px solid $color-accent-500;
      outline-offset: 4px;
    }
  }

  &[data-type="filter"] {
    background: $color-accent-400;
    color: $color-accent-900;

    &:focus {
      outline-color: $color-accent-100;
    }
  }

  &[data-type="buy-now"] {
    background: #ff980a;

    &:hover {
      background: #ffb232;
    }
  }
}
