@use "../abstracts" as *;

.cart {
    margin-block-end: $size-12;

    &__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: $size-4;
    }

    &__wrapper {
        margin-block: $size-8;
        display: grid;
        grid-template-columns: 1fr;
        gap: $size-4;
        
        .title {
            font-family: $font-family-semibold;
            font-size: $font-size-700;
        }

        .header {
            display: none;
        }

        .item {
            margin-block-end: $size-8;
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-template-areas: 
                "media   info"
                "actions actions";
            gap: $size-3;

            &__media {
                grid-area: media;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__info {
                grid-area: info;
                min-width: 0;
                color: $color-neutral-900;

                .price {
                    font-family: $font-family-semibold;
                    font-size: $font-size-500;
                }

                .subtotal {
                    margin-block-start: $size-4;
                    display: flex;
                    justify-content: space-between;
                }
            }

            &__actions {
                grid-area: actions;
                display: flex;
                align-items: center;
                gap: $size-5;

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: $size-5;
                    outline: 2px solid $color-primary-500;
                    border-radius: $border-radius-1;

                    .ui-icon-btn {
                        cursor: pointer;
                        padding: $size-1;
                        color: $color-primary-900;
                    }
                }                
            }
        }
    }
}