@use "../abstracts/" as *;

@mixin filters-panel-options {
    border: none;
    display: flex;
    flex-direction: column;
    gap: $size-1;
    margin-block: $size-4;

    .variant-category {
        margin-block: $size-1;
    }

    .item {
        display: flex;
        align-items: center;
        gap: $size-2;
        padding-block: $size-1;
        cursor: pointer;

        input {
            height: 18px;
            width: 18px;
        }
    }
}

/* ALL COLLECTIONS */
.all-collections {
    margin-block: $size-10;

    .heading-2 {
        text-align: center;
        margin-block-end: $size-10;
    }

    &__shell {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: $size-8;
    }

    &__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-4;
        padding: $size-4;
        border: 2px solid transparent;
        transition: all 250ms ease;

        &:hover {
            border: 2px solid $color-accent-500;
            border-radius: $border-radius-1;
        }
    }
}

/* BASE */
.p-collections { margin-block: $size-10; }

/* GRID LAYOUT */
@include mq(medium) {
    .p-collections {
        display: grid;
        // 1era columna = relleno (usa column-gap)
        grid-template-columns: 0 2fr 2fr auto;
        grid-template-rows: auto 1fr;
        gap: $size-4;
        align-items: start;
        align-content: start;
        grid-template-areas:
            ". header     header   ."
            ". products   products .";

        &__header { grid-area: header; }
        &__products { grid-area: products; }
    }
}

@include mq(large) {
    .p-collections {
        grid-template-columns: .8fr 2fr 2fr auto;
        grid-template-areas: 
            "filters header header     ."
            "filters products products .";
            
        &__filters { grid-area: filters; }
    }
}

/* MENU DE FILTROS */
/* Móviles */
.p-collections-filter.mode-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 70vh;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    background: $color-neutral-100;
    padding: $size-8;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .filters-panel {
        &__options {
            @include filters-panel-options;
        }

        &__footer {
            display: flex;
            margin-block: $size-4;

            /* "LIMPIAR TODO" */
            .button[data-type="outline"] {
                border: 1px solid $color-neutral-500;
                color: $color-neutral-900;
                background: transparent;
            }
        }
    }

    footer {
        /* "VER RESULTADOS" */
        .button {
            margin-block-start: $size-2;
            width: 100%;
        }
    }
}

/* Escritorios */
.p-collections-filter.mode-sidebar {
    position: sticky;
    align-self: start;
    overflow: auto;
    z-index: 1;

    header {
        display: none
    }

    .filters-panel {
        &__options {
            @include filters-panel-options;
            .button { display: none; }
        }

        &__footer {
            margin-block-start: $size-8;

            .button[data-type="outline"] {
                padding: $size-2;
                background: transparent;
                border: 1px solid $color-neutral-500;
            }
        }
    }
}

/* HEADER */
.p-collections {
    &__header {
        font-size: $font-size-500;
        
        .name {
            font-family: $font-family-semibold;
            font-size: 24px;
            text-transform: uppercase;
        }

        .description {
            position: relative;
            padding-block-end: $size-4;
            margin-block-end: $size-4;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: $color-neutral-500;
            }
        }
    }
}

/* PRODUCTS */
.p-collections__products {
    display: grid;
    gap: $size-4;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-auto-flow: row;
    @include mq(medium) { grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); }

    .card.card--minimal { 
        .card__media {
            width: 100%;
            overflow: hidden;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .is-hero {
        grid-column: 1/3;
        grid-row: 1/3;
        @include mq(medium) { grid-column: 1/4; }
    }
}