@use "../abstracts/" as *;

.collection {
    margin-block: $size-10;

    &__header {
        position: relative;
        margin-block: $size-4;

        .slide-buttons {
            display: none;

            @include mq(large) {
                display: block;
                position: absolute;
                right: 0;
                top: 5px;
                display: flex;
                gap: $size-4;
            }
        }
    }

    &__slider {
        display: flex;
        gap: $size-4;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        align-items: stretch;
        scrollbar-gutter: stable both-edges;

        /* scrollbar firefox */
        scrollbar-width: thin;
        scrollbar-color: $color-primary-500 transparent;
        /* Chrome/Edge/Safari */
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-primary-500;
            border-radius: 999px;
            border: 2px solid transparent;
            background-clip: content-box;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        .item {
            flex: 0 0 clamp(220px, 75vw, 316px);
            scroll-snap-align: start;
            display: flex;
        }
    }
}

.collections-filter .mode-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 70vh;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    background: $color-neutral-100;
    padding: $size-8;
}
.collections-filter .mode-sidebar {
    position: sticky;         /* se queda visible al hacer scroll */
    top: var(--header-h, 88px);
    align-self: start;
    height: calc(100dvh - var(--header-h, 88px));
    overflow: auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,.06);
    z-index: 1;
}
/* .collections-filter {    
    &.mode-sheet {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 70vh;
        overflow-y: auto;
        width: 100%;
        z-index: 1000;
        background: $color-neutral-100;
        padding: $size-8;
    }

    &.mode-sidebar {
        position: sticky;
        align-self: start;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer {
        display: flex;
        justify-content: center;

        .button {
            border: 1px solid $color-neutral-900;
        }
    }
} */