@use "../abstracts/" as *;

.collection {
    margin-block: $size-13;

    &__slider {
        display: flex;
        gap: $size-4;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        
        .button {
            border: 2px solid $color-neutral-900;
            margin-block: auto;
            width: 100%;
            font-size: $font-size-700;
            line-height: 1.4;
            color: $color-neutral-900;
            text-align: center;

            @include mq(large) {
                width: fit-content;
                margin-inline: auto;
            }
        }

        .slide {
            position: relative;
            display: block;
            flex: 0 0 clamp(220px, 75vw, 316px);
            scroll-snap-stop: always;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 1;
                background: linear-gradient(
                    to top,
                    rgba(black, .9) 0%,
                    rgba(black, 0) 70%
                );
            }

            &__image {
                display: block;
                width: 100%;
                object-fit: cover;
            }

            &__badge {
                position: absolute;
                top: 15px;
                right: 0;
                z-index: 2;
                padding: 2px 8px;
                font-size: $font-size-600;
                background: rgb(236, 7, 7);
                color: $color-neutral-100;
            }

            &__meta {
                position: absolute;
                left: 12px;
                right: 12px;
                bottom: 12px;
                z-index: 2;
                color: $color-neutral-100;
                text-shadow: 0 1px 2px rgba(0,0,0,.25);

                .product {
                    font-size: $font-size-500;
                }

                .price {
                    font-size: $font-size-600;
                }
            }
        }
    }
}