@use "../abstracts" as *;

.hero-slider {
  position: relative;
  z-index: 1;
  pointer-events: auto;

  &__background {
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 9 / 16;
    z-index: 1;

    /* OVERLAY INACTIVO */
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.70);
      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms ease;
      z-index: 2;
    }

    @include mq(medium) {
      aspect-ratio: 16 / 9;
    }
    
    // MEDIA
    .img-shell {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: $size-4;

    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $size-2;
    }
  }
}