@use "../abstracts" as *;

.hero-search {
    &__mobile-modal {
        outline: 1px solid red;
        height: 100%;
        width: 100%;
        position: fixed;
        inset: 0;
        z-index: 9999;
        width: 100vw;
        height: 100vh;

        .backdrop {
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, .45);
        }

        .mobile-panel {
            margin: $size-4;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background: #fff;
            max-height: 85vh;
            overflow: auto;
            padding: $size-4;
            border-radius: $border-radius-1;

            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $size-4 $size-2;

                .ui-icon-btn {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    &__mobile-input {
        .hero-input-search input {
            width: 100%;
            padding: $size-2;
            border: 1px solid $color-neutral-500;
            border-radius: $border-radius-1;
        }
    }

    &__mobile-results {
        margin-block-start: $size-4;

        .results-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            gap: $size-3;

            article {
                min-width: 0;

                .product-search {
                    display: flex;
                    flex-direction: column;

                    &__info {
                        padding-block: $size-2;
                    }
                }
            }
        }
    }
}