@use "../abstracts" as *;

.hero-search {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 93%;
    z-index: 5;

    > div:not(.overlay) {
        position: relative;
        z-index: 3;
    }
    
    .overlay {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        inset: 0;
        z-index: 2;
        transition: opacity 250ms ease, visibility 0s linear 250ms;
    }

    &.is-active .overlay {
        opacity: 1;
        visibility: visible;
    }
}