@use "../abstracts" as *;

.hero-slider {
  position: relative;
  z-index: 1;

  &__background {
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 9 / 16;
    z-index: 1;

    /* overlay de busqueda */
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.70);
      opacity: 0;
      transition: opacity 200ms ease;
      pointer-events: none;
      z-index: 2;
    }

    @include mq(medium) {
      aspect-ratio: 16 / 9;
    }
    
    // MEDIA
    .img-shell {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: $size-4;
    z-index: 2;

    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $size-2;
    }
  }

  &.is-dimmed {
    filter: blur(6px);
    opacity: .35;
    transition: opacity 250ms ease, filter 250ms ease;

    &::before {
      opacity: 1;
    }
  }
}