@use "../abstracts" as *;

.hero-slider {
  position: relative;
  z-index: 1;

  &__frame {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100%;
    aspect-ratio: 9 / 16;
    z-index: 1;
    @include mq(medium) { aspect-ratio: 16 / 9; }
    
    // MEDIA
    .img-shell {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 2;
    pointer-events: auto;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, 0),
      );
      z-index: -1;
      pointer-events: none;
    }

    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $size-2;
    }
  }
}