@use "../abstracts" as *;

.home-collections {
    margin: $size-5;
    position: relative;

    .heading-2 {
        text-transform: none;
        padding: $size-4 0;
    }

    &__tabs {
        display: flex;
        gap: $size-2;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar { display: none; }

        .active-tab { background: $color-neutral-000; }
    }

    &__results {
        min-height: 240px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-auto-flow: row;
        gap: $size-3;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        transition: opacity 900ms ease;

        @include mq(large) { grid-template-columns: repeat(4, 1fr); }

        .content {
            height: 100%;
            margin: $size-1;
            padding-block: $size-4;
            display: grid;
            grid-template-rows: 1fr auto;

            @include mq(medium) {
                max-width: 260px;
                margin-inline: auto;
            }

            @include mq(large) {
                margin-inline: unset;
            }

            .image-wrapper {
                height: auto;
                width: 100%;
                aspect-ratio: 1;
                overflow: hidden;

                .image {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                padding-block: $size-2;
                color: $color-primary-900;
                
                .name {
                    font-family: $font-family-semibold;
                    font-size: $font-size-500;
                }
            }

            .actions {
                display: flex;
                justify-content: space-between;
                gap: $size-3;

                .ui-icon-btn {
                    border: 1px solid $color-neutral-500;
                }

                .button[data-type="buy-now"] {
                    padding: $size-2;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}