@use "../abstracts" as *;

.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;
  position: relative;

  a {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}

.mobile-menu {
  padding: $size-4;
  padding-block-start: $size-8;
  background: $color-neutral-900;
  position: fixed;
  inset: 0;
  overflow: auto;
  z-index: 9999;
  width: 100%;
  height: 100vh;                    /* fallback general */
  height: -webkit-fill-available;   /* iOS viejo */
  height: 100svh;                   /* small viewport (cuando barras visibles) */
  height: 100dvh;                   /* dynamic viewport (se actualiza al mostrar/ocultar barras) */

  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  gap: $size-10;
  padding-block-end: $size-10;

  a { color: $color-neutral-100; width: fit-content; }
  
  .close-mobile {
    color: $color-neutral-100;
    width: fit-content;
    font-size: 21px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__home {
    padding-inline: $size-8;
  }

  .product-collections {
    display: flex;
    flex-direction: column;
    font-size: $font-size-600;
    font-family: $font-family-bold;
    gap: $size-8;
    padding-inline: $size-8;
  }

  &__auth {
    padding-inline: $size-8;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $size-4;
    padding-inline: $size-8;
  }
}

.dropdown {
  position: relative;

  &__box {
    position: absolute;
    inset-block-start: 100%;
    margin-block-start: .5rem;
    z-index: 50;
    border-radius: $border-radius-1;
    background: $color-primary-200;

    &.dropdown--left {
      inset-inline-start: 0;
      inset-inline-end: auto;
      transform-origin: top left;
    }

    &.dropdown--right {
      inset-inline-end: 0;
      inset-inline-start: auto;
      transform-origin: top right;
    }

    &.dropdown--top {
      inset-block-end: 100%;
      inset-block-start: auto;
      margin-block-start: 0;
      margin-block-end: .5rem;
      inset-inline-start: auto;
      inset-inline-end: auto;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: bottom center;
    }

    /* arriba a la izquierda */
    &.dropdown--top-left {
      inset-block-end: 100%;
      inset-block-start: auto;
      margin-block-end: .5rem;
      margin-block-start: 0;

      inset-inline-start: 0;
      inset-inline-end: auto;
      transform: none;
      transform-origin: bottom left;
    }

    /* arriba a la derecha */
    &.dropdown--top-right {
      inset-block-end: 100%;
      inset-block-start: auto;
      margin-block-end: .5rem;
      margin-block-start: 0;

      inset-inline-end: 0;
      inset-inline-start: auto;
      transform: none;
      transform-origin: bottom right;
    }

    &.dropdown--none {
      position: static;
      transform: none;
      margin: 0;
    }

    &.dropdown--sm { width: 12rem; }
    &.dropdown--md { width: 15rem; }

    &__content {
      border: 1px solid $color-primary-400;
      border-radius: $border-radius-1;
      display: flex;
      flex-direction: column;
      padding: $size-2;

      a {
        &:hover {
          color: $color-accent-600;
        }
      }

      hr {
        margin-block: $size-1;
        color: $color-primary-200;
      }
    }
  }
}