@use "../abstracts" as *;

.product {
    &__header {
        .name {
            margin-block: $size-2;
            font-size: $font-size-800;
            color: $color-primary-800;
            font-family: $font-family-bold;
        }

        .reviews-summary {
            margin-block-end: $size-2;
            font-size: $font-size-600;
            color: $color-secondary-600;
        }
    }

    &__media {
        margin-block: $size-8;
    }

    &__info {
        .variants {
            margin-block: $size-8;
            white-space: nowrap;
            display: flex;
            overflow-x: auto;
            gap: $size-4;
            position: relative;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
               display: none; /* oculta la barra */
            }

            .variant {
                &__input {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }

                &__label {
                    display: flex;
                    padding: $size-4;
                    border: 1px solid $color-primary-400;
                    border-radius: $border-radius-1;
                    cursor: pointer;
                    user-select: none;
                }

                &__input:checked + .variant__label {
                    border: 2px solid $color-primary-800;
                    background: $color-primary-100;
                    color: $color-primary-900;
                    box-shadow: 0 0 0 2px rgba($color-primary-400, .15);
                }

                &__input:disabled + .variant__label {
                    color: $color-neutral-500;
                    border-color: $color-neutral-200;
                    background: $color-neutral-100;
                    text-decoration: line-through;
                    cursor: not-allowed;
                }
            }
        }

        .main-info {
            margin-block: $size-6;

            .price {
                color: $color-primary-900;
                span {
                    font-size: $font-size-800;
                }
            }
       
            .quantity {
                margin-block: $size-4;
                display: flex;
                flex-direction: column;
                gap: $size-2;

                .stock {
                    font-size: $font-size-500;
                }

                .quantity-trigger {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: $size-2 $size-3;
                    cursor: pointer;
                }

                .quantity-modal {
                    position: fixed;
                    inset: 0;
                    z-index: 50;

                    &__backdrop {
                        background: rgb(0 0 0 / 0.3);
                        position: absolute;
                        inset: 0;
                    }

                    &__content {
                        position: absolute;
                        left: 50%;
                        top: 20%;
                        width: 50%;
                        transform: translateX(-50%);
                        background: $color-neutral-100;
                        border-radius: $border-radius-1;
                        width: min(55vw, 22rem);
                        overflow: hidden;

                        .controls {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: $size-4;
                            background: $color-neutral-200;
                        }
                        
                        .list-options {
                            max-height: 60vh;
                            overflow: auto;

                            li {
                                border-bottom: 1px solid $color-neutral-200;

                                &:last-child {
                                    border-bottom: none;
                                }

                                > .list-options__button {
                                    display: block;
                                    width: 100%;
                                    text-align: left;
                                    padding: $size-2 $size-4;
                                    border: none;

                                    &--checked {
                                        border: 1px solid $color-primary-800;
                                        border-left: 4px solid $color-primary-800;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            .action {
                .button {
                    width: 100%;
                }
            }
        }

        .coupon {
            &__zone {
                display: flex;
                align-items: stretch;
                gap: $size-4;
                padding-block: $size-2;

                input {
                    flex: 1;
                    border: 1px solid $color-neutral-500;
                    display: block;
                    width: 100%;
                }

                .button {
                    display: block;
                    height: auto;
                }
            } 
        }

        .details {
            margin-block: $size-8;
            
            .tabs {
                white-space: nowrap;
                display: flex;
                overflow-x: auto;
                gap: $size-4;

                &--active {
                    background: $color-primary-300;
                    color: $color-primary-900;
                    font-family: $font-family-semibold;
                    border: 2px solid $color-primary-900;
                }
            }

            .content {
                margin-block: $size-4;
            }
        }
    }

    &__reviews {
        margin-block: $size-8;

        .header {
            font-size: $font-size-600;
            color: $color-primary-900;
            font-family: $font-family-semibold;
            text-align: center;
            padding-block: $size-4;
        }

        .review {
            margin-block: $size-4;

            .stars {
                margin-block-end: $size-1;
                font-size: $font-size-500;
            }

            .author {
                font-family: $font-family-semibold;
                color: $color-neutral-900;
            }

            .text {

            }
        }
    }

    hr {
        margin-inline: -1rem;
        
        @include mq(large) {
            display: none;
        }

        &[line-type="base"] {
            border: 2px solid $color-primary-300;        
        }

        &[line-type="inner"] {
            border: 1px solid $color-primary-300;
        }
    }
}