@use "../abstracts" as *;

.spotlight {
    margin-block: $size-10;

    .eyebrow {
        text-transform: uppercase;
        font-family: $font-family-semibold;
        font-size: $font-size-600;
        margin-block: $size-3;
    }

    &__shell {
        display: grid;
        grid-template-columns: 1fr;
        gap: $size-4;
        align-items: stretch;

        @include mq(medium) {
            grid-template-columns: 1fr 1fr;
        }

        .info {
            min-width: 0;

            .title { font-size: $font-size-600; font-family: $font-family-bold; }
            .description { font-size: $font-size-500; }
        }

        .u-media {
            min-width: 0;
        }
    }
}