@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.menu-open { overflow: hidden; }

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}

*, *::before, *::after { box-sizing: border-box; }